/* h1,h4 {
  color:#E13A63;
}

h4 {
  margin-top:30px;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

#logo {
  width:100px;
  margin-top:7px;
}

#headshot {
  border-radius: 100%;
  height: 250px;
  width: 250px;
}

.navbar {
  background-color: #01181b;
}

.navbar a {
  list-style: none;
  text-decoration: none;
  color: white;
}

.navbar li {
  display: inline-block;
  padding: 0px 10px 10px 0px;
}

.navbar a:hover {
  color: grey;
}

.main-content {
  margin: 0 80px;
} */

/* BOOTSTRAP ATTEMPT */
body {
  overflow-x: hidden;
}

.container-fluid {
  background-color: black;
}

.nav-logo-1 {
  width: 70px;
}

.nav, .navbar {
  background-color: black;
  border-radius: 0;
}

.nav-logo-2 {
  width: 70px;
  /* margin-top: 7px; */
}

.nav li a {
  color: grey;
}

.nav li a:hover {
  color: white;
}

.nav li .active {
  color: white;
}

/* FIGURE OUT HOW TO MAKE NAV LINK HOVER BLACK... */
.navbar-nav li a:hover {
  background-color: black;
}
